@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #346fae;
    --secondary-color: #133b52;
    --accent1-color: #64acfa;
    --accent2-color: #61410a;
    --accent3-color: #ad8134;

    /* change the values below to your chosen font(s) */
    --heading-font: "Nothing You Could Do";
    --paragraph-font: Roboto, "Open Sans", sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color);
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: var(--secondary-color);
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: var(--secondary-color);
    --nav-link-color: white;
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--secondary-color);
}

body {
    background-color: #fefefe;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a,
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}

footer a:hover,
nav a:hover {
    color: var(--nav-hover-link-color);
    background: var(--nav-hover-background-color);
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: var(--accent2-color);
    font-size: 2em;
    margin-top: 10px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h2 {
    margin: 0;
}

h4 {
    color: var(--accent3-color);
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.book,
.join {
    background-color: var(--accent3-color);
    color: var(--paragraph-color-on-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img {
    width: 100%;
    border: 10px solid var(--accent3-color);
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.book:hover,
.join:hover {
    background-color: var(--accent2-color);
    color: var(--nav-hover-link-color);
}

#background {
    height: 725px;
    background-color: var(--accent1-color);
    opacity: 60%;
}

.msg {
    background-color: var(--secondary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}


.msg h2 {
    color: var(--headline-color-on-color);
}

.msg p {
    color: var(--headline-color-on-color);
    font-size: 0.8em;
    padding-bottom: 15px;
}

.icon {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#logo_link img {
    max-width: 100px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
    z-index: -1;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    text-align: center;
    z-index: -1;
}

#hero-box img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1,
#hero-msg h4 {
    color: white;
}

/* Dates and rates page */

.dates-rates-title {
    text-align: center;
    font-weight: unset;
    margin: 60px auto;
}

.trip-grid {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    max-width: 1200px;
    margin: 0 auto;
}

.trip-card {
    background-color: var(--secondary-color);
    color: var(--paragraph-color-on-color);
    max-width: 550px;
    margin: 10px auto;
    padding: 15px;
}

.trip-card-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    vertical-align: middle;
    background-color: black;
    width: 550px;
}

.trip-card-header {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.trip-card-image {
    grid-column: 1;
    grid-row: 1;
    opacity: 70%;
    width: 550px;
}

.trip-card-rate {
    margin: 15px auto;
}

.trip-card-rate p {
    margin-block-end: 0;
    margin-block-start: 0;
}

.trip-card-dates-block ul {
    columns: 2;
}

.trip-card-dates-block li {
    list-style-type: none;
}

.trip-card-remarks {
    margin-bottom: 30px;
}

.trip-card .button-box {
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}